<nav class="inline-block m-2 h-full border-2 border-gray-50 rounded-md">
  <img
    src="/estate-app-frontend/assets/logo6.png"
    class="h-[130px] w-[150px] object-contain"
  />
  <ul class="space-y-5 m-7 text-gray-600">
    <li><h2 class="font-bold text-lg">Menu</h2></li>
    <li>
      <button routerLink="/" class="hover:underline flex items-center">
        <span class="mr-2"><i class="fas fa-home"></i></span> Home
      </button>
    </li>
    <li>
      <button
        routerLink="/properties-list"
        class="hover:underline flex items-center"
      >
        <span class="mr-2"><i class="fas fa-chart-bar"></i></span> Dashboard
      </button>
    </li>
    <li>
      <button routerLink="/profile" class="hover:underline flex items-center">
        <span class="mr-2"><i class="fas fa-user"></i></span> Profile
      </button>
    </li>
    <li>
      <button routerLink="/about-us" class="hover:underline flex items-center">
        <span class="mr-2"><i class="fas fa-info-circle"></i></span> About Us
      </button>
    </li>
    <li>
      <button routerLink="/support" class="hover:underline flex items-center">
        <span class="mr-2"><i class="fas fa-question-circle"></i></span> Support
      </button>
    </li>
  </ul>
</nav>
